.navbar {
    z-index: 10;
    font-family: Lato, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 100%;
}

.navbar.scrolled {
    background-color: #fff;  /* Color when scrolled */
}

.logo-container {
    display: flex;
    justify-content: center; /* Center the logo horizontally */
    width: 100%;
}
